/* Start Variables */
:root {
  --main-white: #f2f2f2;
  --main-green: #23a96e;
  --main-blue: #3f51b5;
  --main-aqua: #00bcd4;
  --main-red: #e91e63;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  /* background-color: var(--main-white); */
}
.float-left {
  float: right;
}
.float-right {
  float: left;
}
.clearFix {
  clear: both;
}
.text-center {
  text-align: center;
}
.head {
  font-size: 40px;
  margin: 15px;
  letter-spacing: 2px;
}
.paragraph {
  font-size: 18px;
  line-height: 1.7;
  margin: 20px;
  letter-spacing: 1.5px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .card {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1170px;
  }
}

.col-xs-6 {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}
@media (min-width: 400px) {
  .col-xs-6 {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 399px) {
  .col-xs-6 {
    width: calc(100% - 10px);
  }
}
@media (min-width: 992px) {
  .col-md-3 {
    width: calc(100% / 5 - 10px);
    margin-left: 10px;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-3 {
    width: calc(100% / 3 - 10px);
    margin-left: 10px;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: calc(100% / 2 - 10px);
    margin-left: 10px;
    float: left;
  }
}

.imgWidth {
  max-width: 100%;
}

.titlePage {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
}

/* End Global Rules */

/* Start Header */
.navbar {
  padding: 10px 0;
  background-color: #000;
}
.navbar .logo {
  font-size: 20px;
  display: inline-block;
}
.navbar .logo a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-green);
  font-weight: bold;
  letter-spacing: 1px;
}
.navbar .link {
  display: inline-block;
}
.navbar .link {
  float: right;
  position: relative;
}
.navbar .link i {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 7px;
  cursor: pointer;
  display: none;
}
.navbar .link ul {
  list-style: none;
}
.navbar .link ul li {
  float: left;
  margin-right: 10px;
}
.navbar .link ul li a {
  text-decoration: none;
  color: var(--main-green);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  padding: 3px 10px;
  border: 1px solid var(--main-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: inset 0px 0px 5px 0px var(--main-green);
}
.navbar .link ul li a:hover {
  color: #fff;
  box-shadow: inset 0px 0px 100px 10px var(--main-green);
}
@media (max-width: 767px) {
  .navbar .link i {
    display: inline-block;
  }
  .navbar .link ul {
    position: absolute;
    top: 47px;
    right: 0px;
    background-color: #000;
    border-top: 4px solid var(--main-green);
    padding: 15px;
    width: 208px;
    display: none;
  }
  .navbar .link ul li {
    float: none;
    margin: 10px;
  }
  .navbar .link ul li a {
    width: 100%;
    display: inherit;
  }
}
/* End Header */

/* Start Index */

.home {
  padding: 100px 0 126px;
}
.home a {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: var(--main-green);
  width: 100px;
  margin: 10px;
  display: inline-block;
  border: 1px solid var(--main-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  box-shadow: inset 0px 0px 5px 0px var(--main-green);
}
.home a:hover {
  box-shadow: inset 0px 0px 100px 10px var(--main-green);
  color: #fff;
}
/* End Index */

/* Start Books */
.books,
.bookProgramming {
  padding: 10px 0;
}
.books .itbook,
.bookProgramming .itbook {
  padding: 10px 20px;
  margin: 15px;
  background-color: var(--main-green);
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: "Fredericka the Great", cursive;
  font-weight: 400;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 2px;
}
.books,
.bookProgramming {
  margin-top: 50px;
}
.books .item,
.bookProgramming .item {
  position: relative;
}
.books .item img,
.bookProgramming .item img {
  width: 100%;
}
.books .item div,
.bookProgramming .item div {
  position: absolute;
  width: 100%;
  height: 98%;
  background-color: rgba(0 0 0 / 0.6);
  top: 0;
  left: 0;
  color: #fff;
  display: none;
}
.books .item:hover div,
.bookProgramming .item:hover div {
  display: block;
}
.books .item div h3:nth-child(1),
.bookProgramming .item div h3:nth-child(1) {
  margin-top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  margin-bottom: 10px;
}
.books .item div button,
.bookProgramming .item div button {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid var(--main-green);
  background-color: transparent;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  cursor: pointer;
}
.books .item div button:hover,
.bookProgramming .item div button:hover {
  background-color: var(--main-green);
}
.books .item div button a,
.bookProgramming .item div button a {
  text-decoration: none;
  color: var(--main-green);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  font-size: 18px;
}
.books .item div button:hover a,
.bookProgramming .item div button:hover a {
  text-decoration: none;
  color: #fff;
}
.bookProgramming .item div a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--main-green);
  padding: 4px 12px;
  color: var(--main-green);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  box-shadow: inset 0 0 5px 0 var(--main-green);
}
.bookProgramming .item div a:hover {
  /* background-color: var(--main-green); */
  box-shadow: inset 0 0 100px 0 var(--main-green);
  color: #fff;
}
/* End Books */

/* Start Course HTML */
.html,
.css,
.js,
.sass {
  padding: 50px 0;
}
.js {
  margin-bottom: 20px;
}
.html h2:nth-child(1) {
  margin-bottom: 30px;
}
.html h2:not(.html h2:nth-child(1)),
.css h2,
.js h2,
.sass h2 {
  padding: 5px 10px;
  background-color: var(--main-green);
  color: #fff;
}

.html h2 i,
.css h2 i,
.js h2 i,
.sass h2 i {
  float: right;
  color: rgb(230, 230, 230);
  cursor: pointer;
  margin-top: 10px;
}

.html .step,
.css .step,
.js .step,
.sass .step {
  padding: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0 0 0 / 0.6);
  margin: 10px;
  position: relative;
  display: none;
}
.html .step h3,
.css .step h3,
.js .step h3,
.sass .step h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--main-green);
  color: #fff;
}
.html .step ul,
.css .step ul,
.js .step ul,
.sass .step ul {
  margin-top: 40px;
}
.html .step ul li,
.css .step ul li,
.js .step ul li,
.sass .step ul li {
  font-size: 18px;
  margin: 10px;
}
/* End Course HTML */

/* Start Footer */
.footer {
  padding: 10px;
  background-color: var(--main-green);
  color: #fff;
  font-size: 18px;
}
/* End Footer */
