/* Start Variables */
:root {
  --main-green: #23a96e;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Cairo", sans-serif;
}
.clearFix {
  clear: both;
}
.text-center {
  text-align: center;
}
.head {
  font-size: 40px;
  margin: 15px;
  letter-spacing: 2px;
}
.paragraph {
  font-size: 18px;
  line-height: 1.7;
  margin: 20px;
  letter-spacing: 1.5px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .card {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1170px;
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .col {
    flex: 0 0 calc(33.333333% - 10px);
    max-width: calc(33.333333% - 10px);
  }
}

@media (min-width: 901px) {
  .col {
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
}

.imgWidth {
  width: 100%;
}

.titlePage {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
}

.titleBook {
  padding: 10px 20px;
  margin: 15px;
  background-color: var(--main-green);
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-family: "Fredericka the Great", cursive;
  font-weight: 400;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 2px;
}

.divider {
  text-align: center;
  margin-bottom: 10px;
}

.divider > span {
  display: inline-block;
  width: 170px;
  background: var(--main-green);
  height: 2px;
}

/* End Global Rules */

/* Start Header */
.navbar {
  padding: 10px 0;
  background-color: #000;
}

.navbar .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 20px;
}
.navbar .logo a {
  text-decoration: none;
  color: var(--main-green);
  font-weight: bold;
  letter-spacing: 1px;
}
.navbar .link {
  position: relative;
}
.navbar .link i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.navbar .link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .link ul li {
  margin-right: 10px;
}
.navbar .link ul li a {
  text-decoration: none;
  color: var(--main-green);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  padding: 3px 10px;
  border: 1px solid var(--main-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: inset 0px 0px 5px 0px var(--main-green);
}
.navbar .link ul li a:hover {
  color: #fff;
  box-shadow: inset 0px 0px 100px 10px var(--main-green);
}
@media (max-width: 767px) {
  .navbar .link i {
    display: inline-block;
  }
  .navbar .link ul {
    position: absolute;
    top: 43px;
    right: 0px;
    background-color: #000;
    border-top: 4px solid var(--main-green);
    padding: 15px;
    width: 208px;
    display: none;
  }
  .navbar .link ul li {
    margin: 10px;
  }
  .navbar .link ul li a {
    width: 100%;
    display: inherit;
  }
}
/* End Header */

/* Start Index */

.home {
  padding: 100px 0 80px;
}
.home a {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: var(--main-green);
  width: 100px;
  margin: 10px;
  display: inline-block;
  border: 1px solid var(--main-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  box-shadow: inset 0px 0px 5px 0px var(--main-green);
}
.home a:hover {
  box-shadow: inset 0px 0px 100px 10px var(--main-green);
  color: #fff;
}
/* End Index */

/* Start Books */

.books {
  margin-top: 50px;
}

.books .col {
  position: relative;
  overflow: hidden;
  margin: 5px;
}
.books .col .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  text-align: center;
  padding-top: 25%;
  background: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
}
.books .col h4 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  color: #fff;
}
.books .col p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  -o-transition: all 0.3s ease-in-out 0.2s;
  -ms-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
  color: #fff;
}
.books .col p a {
  color: #fff;
  text-decoration: none;
}
.books .col:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.books .col:hover h4 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.books .col:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.portfolio-item .mask h4,
.portfolio-item .mask p {
  margin: 0;
  color: #fff;
}
/* End Books */

/* Start Course HTML */
.course {
  padding: 50px 0;
}
.course .titlePage {
  margin-bottom: 30px;
  display: block;
}
.course h2 {
  padding: 5px 10px;
  background-color: var(--main-green);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course h2 i {
  color: rgb(230, 230, 230);
  cursor: pointer;
  margin-top: 10px;
}

.course .step {
  padding: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0 0 0 / 0.6);
  margin: 10px;
  position: relative;
  display: none;
}
.course .step h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--main-green);
  color: #fff;
}
.course .step ul {
  margin-top: 40px;
}
.course .step ul li {
  font-size: 18px;
  margin: 10px;
}
/* End Course HTML */

/* Start Articles */
.articles {
  padding: 50px 0;
}

.articles .item {
  margin-top: 50px;
}

.articles .col {
  flex: 0 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
  box-shadow: 0px 0px 8px 0px #333;
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -webkit-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease;
  -moz-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -ms-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -o-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
}

@media (max-width: 600px) {
  .articles .col {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

.articles .col:hover {
  color: #fff;
  transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -webkit-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease;
  -moz-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -ms-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  -o-transition: color calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
}
.articles .col::before {
  content: "";
  width: 0;
  height: 0;
  padding: 25%;
  background-color: var(--main-green);
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  -webkit-transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease;
  -moz-transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease;
  -ms-transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    ease;
  -o-transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
}

.articles .col:hover::before {
  transform: translate(-50%, -50%) scale(5);
  transition-duration: var(--photoboxAnimationDuration, 0.8s);
  -webkit-transform: translate(-50%, -50%) scale(10);
  -moz-transform: translate(-50%, -50%) scale(5);
  -ms-transform: translate(-50%, -50%) scale(5);
  -o-transform: translate(-50%, -50%) scale(5);
}

.articles .col a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  background-color: var(--main-green);
  margin: 15px;
  border: 1px solid var(--main-green);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.articles .col a:hover {
  background-color: transparent;
  border: 1px solid var(--main-green);
}

/* End Articles */

/* Start Footer */
.footer {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--main-green);
  color: #fff;
  font-size: 20px;
}
.footer div div {
  color: #fff;
}
/* End Footer */

/* Start Top Div */

.top {
  position: relative;
  text-align: center;
}

.top i {
  font-weight: bold;
  padding: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--main-green);
  color: #fff;
  padding: 10px 18px;
  animation: top 1s infinite ease-in-out;
  -webkit-animation: top 1s infinite ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
@keyframes top {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/* End Top Div */

/* Start Load Page */

section.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  z-index: 5555;
}

section.loader span {
  position: relative;
  width: 36px;
  height: 37px;
  background: #eaeef0;
  margin: 0 10px;
  border-radius: 50%;
  border: 6px solid #eaeef0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
    8px 8px 15px rgba(0, 0, 0, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -1px -1px 5px rgba(255, 255, 255, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5c89ff;
  border-radius: 50%;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: animate 3s linear infinite, animateColor 3s linear infinite;
  animation-delay: calc(var(--i) * 0.2s);
}

@keyframes animate {
  0%,
  90.99%,
  70.00001% {
    transform: scale(0);
  }

  10%,
  70% {
    transform: scale(1);
  }
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}

/* 
@media (max-width: 767px) {
  section.loader span {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section.loader span {
    display: block;
  }
} 
*/

/* End Load Page */
